#login{
    height: 100%;
    width: 100%;
    background-color: rgb(28, 239, 247);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 48% 97%, 0 47%, 0 1%);
    position:absolute;
    z-index: -1;

}
